In [79]:
import pandas as pd
import numpy as np

In [80]:
banks = pd.read_excel(r"C:\Users\prana\Downloads\All banks - consolidated.xlsx")

In [81]:
banks.head()

,Quarterly Results of Federal Bank (in Rs. Cr.),Bank,(a) Int. /Disc. on Adv/Bills,(b) Income on Investment,(c) Int. on balances With RBI,others,Other Income,Earning before Interest and Tax,Interest Expended,Employees Cost,...,No Of Shares (Crores),Share Holding (%),Promoters and Promoter Group Shareholding,- Number of shares (Crores),- Per. of shares (as a % of the total sh. of prom. and promoter group),- Per. of shares (as a % of the total Share Cap. of the company),- Number of shares (Crores).,- Per. of shares (as a % of the total sh. of prom. and promoter group).,- Per. of shares (as a % of the total Share Cap. of the company).,yrc
0,Dec '19,Federal Bank,2702.78,536.11,35.27,56.2,407.86,3738.22,"2,175.43",414.76,...,--,--,NaN,--,--,--,--,--,--,201912
1,Sep '19,Federal Bank,2637.66,527.44,38.11,51.04,420.92,3675.17,"2,130.47",440.70,...,--,--,NaN,--,--,--,--,--,--,201909
2,Jun '19,Federal Bank,2606.08,555.23,19.72,48.27,391.52,3620.82,"2,075.13",397.84,...,--,--,NaN,--,--,--,--,--,--,201906
3,Mar '19,Federal Bank,2413.05,536.38,11.78,71.11,411.72,3444.04,"1,935.79",370.15,...,--,--,NaN,--,--,--,--,--,--,201903
4,Dec '18,Federal Bank,2386.62,505.58,15.57,46.64,345.55,3299.96,"1,877.12",353.66,...,--,--,NaN,--,--,--,--,--,--,201812

In [82]:
banks['Operating Expenses'] = banks['Employees Cost'] + banks['Other Expenses']

In [83]:
banks['Net Profit Margin'] = banks['Net Profit/(Loss) For the Period']

In [84]:
banks['ROI'] = banks['(b) Income on Investment']

In [85]:
banks['ROA'] = banks['Return on Assets %']

In [86]:
banks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 48 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Quarterly Results of Federal Bank (in Rs. Cr.)                           480 non-null    object
 1   Bank                                                                     480 non-null    object
 2   (a) Int. /Disc. on Adv/Bills                                             480 non-null    object
 3   (b) Income on Investment                                                 480 non-null    object
 4   (c) Int. on balances With RBI                                            480 non-null    float64
 5   others                                                                   480 non-null    object
 6   Other Income                                                             480 non-null    object
 7   Earning before Interest and Tax                                          480 non-null    float64
 8   Interest Expended                                                        480 non-null    object
 9   Employees Cost                                                           480 non-null    object
 10  Other Expenses                                                           480 non-null    object
 11  Depreciation                                                             480 non-null    object
 12  Operating Profit before Provisions and contingencies                     480 non-null    object
 13  Provisions And Contingencies                                             480 non-null    object
 14  Exceptional Items                                                        480 non-null    object
 15  P/L Before Tax                                                           480 non-null    object
 16  Tax                                                                      480 non-null    object
 17  P/L After Tax from Ordinary Activities                                   480 non-null    object
 18  Prior Year Adjustments                                                   480 non-null    object
 19  Extra Ordinary Items                                                     480 non-null    object
 20  Net Profit/(Loss) For the Period                                         480 non-null    object
 21  Equity Share Capital                                                     480 non-null    object
 22  Reserves Excluding Revaluation Reserves                                  480 non-null    object
 23  Equity Dividend Rate (%)                                                 480 non-null    object
 24  a) % of Share by Govt.                                                   480 non-null    object
 25  b) Capital Adequacy Ratio - Basel -I                                     480 non-null    object
 26  c) Capital Adequacy Ratio - Basel -II                                    480 non-null    object
 27  Basic EPS                                                                480 non-null    float64
 28  Diluted EPS                                                              480 non-null    float64
 29  i) Gross NPA                                                             480 non-null    object
 30  ii) Net NPA                                                              480 non-null    object
 31  i) % of Gross NPA                                                        480 non-null    float64
 32  ii) % of Net NPA                                                         480 non-null    float64
 33  Return on Assets %                                                       480 non-null    float64
 34  No Of Shares (Crores)                                                    480 non-null    object
 35  Share Holding (%)                                                        480 non-null    object
 36  Promoters and Promoter Group Shareholding                                0 non-null      float64
 37  - Number of shares (Crores)                                              480 non-null    object
 38  - Per. of shares (as a % of the total sh. of prom. and promoter group)   480 non-null    object
 39  - Per. of shares (as a % of the total Share Cap. of the company)         480 non-null    object
 40  - Number of shares (Crores).                                             480 non-null    object
 41  - Per. of shares (as a % of the total sh. of prom. and promoter group).  480 non-null    object
 42  - Per. of shares (as a % of the total Share Cap. of the company).        480 non-null    object
 43  yrc                                                                      409 non-null    object
 44  Operating Expenses                                                       480 non-null    object
 45  Net Profit Margin                                                        480 non-null    object
 46  ROI                                                                      480 non-null    object
 47  ROA                                                                      480 non-null    float64
dtypes: float64(9), object(39)
memory usage: 180.1+ KB

In [74]:
banks['(c) Int. on balances With RBI'] = banks['(c) Int. on balances With RBI'].astype(str)

banks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 47 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Quarterly Results of Federal Bank (in Rs. Cr.)                           480 non-null    object
 1   Bank                                                                     480 non-null    object
 2   (a) Int. /Disc. on Adv/Bills                                             480 non-null    object
 3   (b) Income on Investment                                                 480 non-null    object
 4   (c) Int. on balances With RBI                                            480 non-null    object
 5   others                                                                   480 non-null    object
 6   Other Income                                                             480 non-null    object
 7   Interest Expended                                                        480 non-null    object
 8   Employees Cost                                                           480 non-null    object
 9   Other Expenses                                                           480 non-null    object
 10  Depreciation                                                             480 non-null    object
 11  Operating Profit before Provisions and contingencies                     480 non-null    object
 12  Provisions And Contingencies                                             480 non-null    object
 13  Exceptional Items                                                        480 non-null    object
 14  P/L Before Tax                                                           480 non-null    object
 15  Tax                                                                      480 non-null    object
 16  P/L After Tax from Ordinary Activities                                   480 non-null    object
 17  Prior Year Adjustments                                                   480 non-null    object
 18  Extra Ordinary Items                                                     480 non-null    object
 19  Net Profit/(Loss) For the Period                                         480 non-null    object
 20  Equity Share Capital                                                     480 non-null    object
 21  Reserves Excluding Revaluation Reserves                                  480 non-null    object
 22  Equity Dividend Rate (%)                                                 480 non-null    object
 23  a) % of Share by Govt.                                                   480 non-null    object
 24  b) Capital Adequacy Ratio - Basel -I                                     480 non-null    object
 25  c) Capital Adequacy Ratio - Basel -II                                    480 non-null    object
 26  Basic EPS                                                                480 non-null    float64
 27  Diluted EPS                                                              480 non-null    float64
 28  i) Gross NPA                                                             480 non-null    object
 29  ii) Net NPA                                                              480 non-null    object
 30  i) % of Gross NPA                                                        480 non-null    float64
 31  ii) % of Net NPA                                                         480 non-null    float64
 32  Return on Assets %                                                       480 non-null    float64
 33  No Of Shares (Crores)                                                    480 non-null    object
 34  Share Holding (%)                                                        480 non-null    object
 35  Promoters and Promoter Group Shareholding                                0 non-null      float64
 36  - Number of shares (Crores)                                              480 non-null    object
 37  - Per. of shares (as a % of the total sh. of prom. and promoter group)   480 non-null    object
 38  - Per. of shares (as a % of the total Share Cap. of the company)         480 non-null    object
 39  - Number of shares (Crores).                                             480 non-null    object
 40  - Per. of shares (as a % of the total sh. of prom. and promoter group).  480 non-null    object
 41  - Per. of shares (as a % of the total Share Cap. of the company).        480 non-null    object
 42  yrc                                                                      409 non-null    object
 43  Operating Expenses                                                       480 non-null    object
 44  Net Profit Margin                                                        480 non-null    object
 45  ROI                                                                      480 non-null    object
 46  ROA                                                                      480 non-null    float64
dtypes: float64(7), object(40)
memory usage: 176.4+ KB

In [87]:
banks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 48 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Quarterly Results of Federal Bank (in Rs. Cr.)                           480 non-null    object
 1   Bank                                                                     480 non-null    object
 2   (a) Int. /Disc. on Adv/Bills                                             480 non-null    object
 3   (b) Income on Investment                                                 480 non-null    object
 4   (c) Int. on balances With RBI                                            480 non-null    float64
 5   others                                                                   480 non-null    object
 6   Other Income                                                             480 non-null    object
 7   Earning before Interest and Tax                                          480 non-null    float64
 8   Interest Expended                                                        480 non-null    object
 9   Employees Cost                                                           480 non-null    object
 10  Other Expenses                                                           480 non-null    object
 11  Depreciation                                                             480 non-null    object
 12  Operating Profit before Provisions and contingencies                     480 non-null    object
 13  Provisions And Contingencies                                             480 non-null    object
 14  Exceptional Items                                                        480 non-null    object
 15  P/L Before Tax                                                           480 non-null    object
 16  Tax                                                                      480 non-null    object
 17  P/L After Tax from Ordinary Activities                                   480 non-null    object
 18  Prior Year Adjustments                                                   480 non-null    object
 19  Extra Ordinary Items                                                     480 non-null    object
 20  Net Profit/(Loss) For the Period                                         480 non-null    object
 21  Equity Share Capital                                                     480 non-null    object
 22  Reserves Excluding Revaluation Reserves                                  480 non-null    object
 23  Equity Dividend Rate (%)                                                 480 non-null    object
 24  a) % of Share by Govt.                                                   480 non-null    object
 25  b) Capital Adequacy Ratio - Basel -I                                     480 non-null    object
 26  c) Capital Adequacy Ratio - Basel -II                                    480 non-null    object
 27  Basic EPS                                                                480 non-null    float64
 28  Diluted EPS                                                              480 non-null    float64
 29  i) Gross NPA                                                             480 non-null    object
 30  ii) Net NPA                                                              480 non-null    object
 31  i) % of Gross NPA                                                        480 non-null    float64
 32  ii) % of Net NPA                                                         480 non-null    float64
 33  Return on Assets %                                                       480 non-null    float64
 34  No Of Shares (Crores)                                                    480 non-null    object
 35  Share Holding (%)                                                        480 non-null    object
 36  Promoters and Promoter Group Shareholding                                0 non-null      float64
 37  - Number of shares (Crores)                                              480 non-null    object
 38  - Per. of shares (as a % of the total sh. of prom. and promoter group)   480 non-null    object
 39  - Per. of shares (as a % of the total Share Cap. of the company)         480 non-null    object
 40  - Number of shares (Crores).                                             480 non-null    object
 41  - Per. of shares (as a % of the total sh. of prom. and promoter group).  480 non-null    object
 42  - Per. of shares (as a % of the total Share Cap. of the company).        480 non-null    object
 43  yrc                                                                      409 non-null    object
 44  Operating Expenses                                                       480 non-null    object
 45  Net Profit Margin                                                        480 non-null    object
 46  ROI                                                                      480 non-null    object
 47  ROA                                                                      480 non-null    float64
dtypes: float64(9), object(39)
memory usage: 180.1+ KB

In [139]:
new_banks2 =  banks[['Operating Expenses','Net Profit Margin','ROI','ROA','Earning before Interest and Tax','Equity Share Capital']]

In [140]:
new_banks2.head()

,Operating Expenses,Net Profit Margin,ROI,ROA,Earning before Interest and Tax,Equity Share Capital
0,414.76404.21,440.64,536.11,0.26,3738.22,398.46
1,440.70385.20,416.70,527.44,0.26,3675.17,397.62
2,397.84365.09,384.21,555.23,0.24,3620.82,397.20
3,370.15383.35,381.51,536.38,0.25,3444.04,397.01
4,353.66361.35,333.63,505.58,0.23,3299.96,396.78

In [141]:
new_banks2.shape

(480, 6)

In [163]:
stockprices = pd.read_excel(r"C:\Users\prana\Downloads\stockprices.xlsx")

In [164]:
stockprices.head()

  Quaterly Time          Bank  Closing Share price  Basic eps   PE Ratio
0       Dec '19  Federal Bank                85.33       2.21  38.610860
1       Sep '19  Federal Bank                88.11       2.10  41.957143
2       Jun '19  Federal Bank               104.27       1.94  53.747423
3       Mar '19  Federal Bank                90.08       1.92  46.916667
4       Dec '18  Federal Bank                89.70       1.68  53.392857

In [165]:
new_banks2['PE Ratio'] = stockprices['PE Ratio']

C:\Users\prana\AppData\Local\Temp/ipykernel_16852/3258682180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_banks2['PE Ratio'] = stockprices['PE Ratio']

In [166]:
new_banks2.head()

,Operating Expenses,Net Profit Margin,ROI,ROA,Earning before Interest and Tax,Equity Share Capital,Closing Share price,PE Ratio
0,414.76404.21,440.64,536.11,0.26,3738.22,398.46,85.33,38.610860
1,440.70385.20,416.70,527.44,0.26,3675.17,397.62,88.11,41.957143
2,397.84365.09,384.21,555.23,0.24,3620.82,397.20,104.27,53.747423
3,370.15383.35,381.51,536.38,0.25,3444.04,397.01,90.08,46.916667
4,353.66361.35,333.63,505.58,0.23,3299.96,396.78,89.70,53.392857

In [168]:
new_banks2['Quaterly Time'] = stockprices['Quaterly Time']
new_banks2['Bank'] = stockprices['Bank']

C:\Users\prana\AppData\Local\Temp/ipykernel_16852/3011355938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_banks2['Quaterly Time'] = stockprices['Quaterly Time']
C:\Users\prana\AppData\Local\Temp/ipykernel_16852/3011355938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_banks2['Bank'] = stockprices['Bank']

In [169]:
new_banks2.head()

,Operating Expenses,Net Profit Margin,ROI,ROA,Earning before Interest and Tax,Equity Share Capital,Closing Share price,PE Ratio,Quaterly Time,Bank
0,414.76404.21,440.64,536.11,0.26,3738.22,398.46,85.33,38.610860,Dec '19,Federal Bank
1,440.70385.20,416.70,527.44,0.26,3675.17,397.62,88.11,41.957143,Sep '19,Federal Bank
2,397.84365.09,384.21,555.23,0.24,3620.82,397.20,104.27,53.747423,Jun '19,Federal Bank
3,370.15383.35,381.51,536.38,0.25,3444.04,397.01,90.08,46.916667,Mar '19,Federal Bank
4,353.66361.35,333.63,505.58,0.23,3299.96,396.78,89.70,53.392857,Dec '18,Federal Bank